{% extends 'base.html' %}


{% block content %}


<div class="row justify-content-center">


<div class="col-md-6">


<div class="card shadow">


<div class="card-body">


<h3 class="text-center mb-4">
Add Employee
</h3>



<form method="POST">

{% csrf_token %}



<label class="form-label">
Name
</label>

<input type="text"
name="name"
class="form-control mb-3"
placeholder="Enter employee name">



<label class="form-label">
Email
</label>

<input type="email"
name="email"
class="form-control mb-3"
placeholder="Enter email">



<label class="form-label">
Phone
</label>

<input type="text"
name="phone"
class="form-control mb-3"
placeholder="Enter phone number">



<label class="form-label">
Department
</label>

<input type="text"
name="department"
class="form-control mb-3"
placeholder="Enter department">



<label class="form-label">
Salary
</label>

<input type="number"
name="salary"
class="form-control mb-3"
placeholder="Enter salary">



<label class="form-label">
Joining Date
</label>

<input type="date"
name="joining_date"
class="form-control mb-3">



<button class="btn btn-success w-100">
Add Employee
</button>



</form>


</div>

</div>


</div>


</div>



{% endblock %}